In [1]:
import pandas as pd
import numpy as np
import sqlite3
from Query_Executor import QueryExecutor as qe

           TeamName
0     Bayern Munich
1          Dortmund
2        Leverkusen
3        RB Leipzig
4        Schalke 04
5        M'gladbach
6         Wolfsburg
7           FC Koln
8        Hoffenheim
9            Hertha
10            Mainz
11          Hamburg
12    Werder Bremen
13    Ein Frankfurt
14         Augsburg
15         Freiburg
16        Stuttgart
17         Hannover
18    Bayern Munich
19         Dortmund
20       Leverkusen
21       Schalke 04
22        Wolfsburg
23       M'gladbach
24          Hamburg
25            Mainz
26          FC Koln
27       Hoffenheim
28           Hertha
29    Werder Bremen
..              ...
438  Greuther Furth
439         CZ Jena
440     Munich 1860
441        RW Essen
442      Burghausen
443  Erzgebirge Aue
444       Offenbach
445       Paderborn
446    Unterhaching
447    Braunschweig
448        Augsburg
449         Koblenz
450     Munich 1860
451          Bochum
452   Hansa Rostock
453        Freiburg
454          Aachen
455         Dresden
456       Karlsruhe
457  Greuther Furth
458     Saarbrucken
459           Ahlen
460         Cottbus
461  Erzgebirge Aue
462      Burghausen
463       Paderborn
464    Unterhaching
465       Offenbach
466          Siegen
467    Braunschweig

[468 rows x 1 columns]

In [2]:
df = pd.read_csv('matches_adding_rain_info.csv')
#df['rain_game'] = df['rain_game'].astype(int)
df

,Match_ID,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,rain_game
0,1092,2012-03-31,Nurnberg,Bayern Munich,0,1,A,0
1,1093,2011-12-11,Stuttgart,Bayern Munich,1,2,A,0
2,1094,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,0
3,1095,2011-11-27,Mainz,Bayern Munich,3,2,H,0
4,1096,2012-02-18,Freiburg,Bayern Munich,0,0,D,0
5,1097,2012-01-20,M'gladbach,Bayern Munich,3,1,H,0
6,1098,2012-02-04,Hamburg,Bayern Munich,1,1,D,0
7,1099,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,0
8,1100,2011-09-18,Schalke 04,Bayern Munich,0,2,A,1
9,1101,2011-10-23,Hannover,Bayern Munich,2,1,H,0
10,1102,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,0
11,1103,2012-03-03,Leverkusen,Bayern Munich,2,0,H,0
12,1104,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,1
13,1105,2012-03-17,Hertha,Bayern Munich,0,6,A,0
14,1106,2011-11-06,Augsburg,Bayern Munich,1,2,A,0
15,1107,2012-05-05,FC Koln,Bayern Munich,1,4,A,0
16,1108,2012-04-11,Dortmund,Bayern Munich,1,0,H,0
17,1109,2011-08-27,Leverkusen,Dortmund,0,0,D,1
18,1110,2011-12-17,Freiburg,Dortmund,1,4,A,0
19,1111,2012-02-18,Hertha,Dortmund,0,1,A,0
20,1112,2012-02-03,Nurnberg,Dortmund,0,2,A,0
21,1113,2011-08-13,Hoffenheim,Dortmund,1,0,H,0
22,1114,2011-10-29,Stuttgart,Dortmund,1,1,D,0
23,1115,2012-01-22,Hamburg,Dortmund,1,5,A,0
24,1116,2011-12-03,M'gladbach,Dortmund,1,1,D,1
25,1117,2012-04-14,Schalke 04,Dortmund,1,2,A,0
26,1118,2011-09-18,Hannover,Dortmund,2,1,H,1
27,1119,2012-03-25,FC Koln,Dortmund,1,6,A,0
28,1120,2012-03-10,Augsburg,Dortmund,0,0,D,0
29,1121,2012-04-07,Wolfsburg,Dortmund,1,3,A,0
...,...,...,...,...,...,...,...,...
962,44845,2012-04-28,Swansea,Wolves,4,4,D,0
963,44846,2012-04-28,West Brom,Aston Villa,0,0,D,0
964,44847,2012-04-28,Wigan,Newcastle,4,0,H,0
965,44848,2012-04-29,Chelsea,QPR,6,1,H,0
966,44849,2012-04-29,Tottenham,Blackburn,2,0,H,0
967,44850,2012-04-30,Man City,Man United,1,0,H,0
968,44851,2012-05-01,Liverpool,Fulham,0,1,A,0
969,44852,2012-05-01,Stoke,Everton,1,1,D,0
970,44853,2012-05-02,Bolton,Tottenham,1,4,A,0
971,44854,2012-05-02,Chelsea,Newcastle,0,2,A,0
972,44855,2012-05-05,Arsenal,Norwich,3,3,D,0
973,44856,2012-05-06,Aston Villa,Tottenham,1,1,D,0
974,44857,2012-05-06,Bolton,West Brom,2,2,D,0
975,44858,2012-05-06,Fulham,Sunderland,2,1,H,0
976,44859,2012-05-06,Man United,Swansea,2,0,H,0
977,44860,2012-05-06,Newcastle,Man City,0,2,A,0
978,44861,2012-05-06,QPR,Stoke,1,0,H,0
979,44862,2012-05-06,Wolves,Everton,0,0,D,0
980,44863,2012-05-07,Blackburn,Wigan,0,1,A,0
981,44864,2012-05-08,Liverpool,Chelsea,4,1,H,0
982,44865,2012-05-13,Chelsea,Blackburn,2,1,H,0
983,44866,2012-05-13,Everton,Newcastle,3,1,H,0
984,44867,2012-05-13,Man City,QPR,3,2,H,0
985,44868,2012-05-13,Norwich,Aston Villa,2,0,H,0
986,44869,2012-05-13,Stoke,Bolton,2,2,D,0
987,44870,2012-05-13,Sunderland,Man United,0,1,A,0
988,44871,2012-05-13,Swansea,Liverpool,1,0,H,0
989,44872,2012-05-13,Tottenham,Fulham,2,0,H,0
990,44873,2012-05-13,West Brom,Arsenal,2,3,A,0
991,44874,2012-05-13,Wigan,Wolves,3,2,H,0

In [4]:
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()
df.to_sql('with_rain', conn, if_exists='append', index=False)
conn.commit()

In [20]:
q3 = """ SELECT HomeTeam as Club,
            (h_goals_for + a_goals_for) AS total_goals,
            (h_win + a_win) AS wins,
            (h_rain_win + h_rain_draw + h_rain_loss + a_rain_win + a_rain_draw + a_rain_loss) AS rain_games,
            (h_rain_win + a_rain_win) AS rain_wins
            
            FROM 
            
            (SELECT HomeTeam,
                SUM(CASE WHEN FTHG > FTAG THEN 1 ELSE 0 END) AS h_win,
                SUM(CASE WHEN FTHG = FTAG THEN 1 ELSE 0 END) AS h_draw,
                SUM(CASE WHEN FTHG < FTAG THEN 1 ELSE 0 END) AS h_loss,
                SUM(FTHG) AS h_goals_for,
                SUM(FTAG) AS h_goals_agst,
                SUM(CASE WHEN FTHG > FTAG AND rain_game = 1 THEN 1 ELSE 0 END) AS h_rain_win,
                SUM(CASE WHEN FTHG = FTAG AND rain_game = 1 THEN 1 ELSE 0 END) AS h_rain_draw,
                SUM(CASE WHEN FTHG < FTAG AND rain_game = 1 THEN 1 ELSE 0 END) AS h_rain_loss
                
                FROM with_rain
                
                GROUP BY HomeTeam
                ORDER BY HomeTeam)

            JOIN

            (SELECT AwayTeam,
                SUM(CASE WHEN FTAG > FTHG THEN 1 ELSE 0 END) AS a_win,
                SUM(CASE WHEN FTAG = FTHG THEN 1 ELSE 0 END) AS a_draw,
                SUM(CASE WHEN FTAG < FTHG THEN 1 ELSE 0 END) AS a_loss,
                SUM(FTAG) AS a_goals_for,
                SUM(FTHG) AS a_goals_agst,
                SUM(CASE WHEN FTAG > FTHG AND rain_game = 1 THEN 1 ELSE 0 END) AS a_rain_win,
                SUM(CASE WHEN FTAG = FTHG AND rain_game = 1 THEN 1 ELSE 0 END) AS a_rain_draw,
                SUM(CASE WHEN FTAG < FTHG AND rain_game = 1 THEN 1 ELSE 0 END) AS a_rain_loss            
            
                FROM with_rain
                
                GROUP BY AwayTeam
                ORDER BY AwayTeam)
            
            ON (HomeTeam == AwayTeam)
            
            ORDER BY total_goals DESC, wins DESC, rain_games DESC, rain_wins DESC;
            """

c.execute(q3)
print(c.fetchall())

[('Man City', 186, 56, 10, 6), ('Man United', 178, 56, 8, 8), ('Dortmund', 160, 50, 8, 2), ('Bayern Munich', 154, 46, 8, 8), ('Ein Frankfurt', 152, 40, 4, 2), ('Arsenal', 148, 42, 6, 2), ('Schalke 04', 148, 40, 2, 0), ('Greuther Furth', 146, 40, 8, 4), ('Tottenham', 132, 40, 8, 8), ('Chelsea', 130, 36, 12, 8), ('Fortuna Dusseldorf', 128, 32, 6, 2), ('Stuttgart', 126, 30, 2, 0), ('Munich 1860', 124, 34, 6, 6), ('St Pauli', 118, 36, 2, 2), ('Newcastle', 112, 38, 2, 0), ('Union Berlin', 110, 28, 4, 2), ('Leverkusen', 104, 30, 6, 4), ('Norwich', 104, 24, 6, 2), ('Paderborn', 102, 34, 8, 6), ('Everton', 100, 30, 2, 2), ('Dresden', 100, 24, 2, 0), ("M'gladbach", 98, 34, 4, 2), ('Werder Bremen', 98, 22, 6, 2), ('Fulham', 96, 28, 4, 2), ('Blackburn', 96, 16, 6, 2), ('Liverpool', 94, 28, 8, 4), ('Wolfsburg', 94, 26, 4, 0), ('Mainz', 94, 18, 6, 0), ('Bolton', 92, 20, 4, 0), ('West Brom', 90, 26, 6, 0), ('Sunderland', 90, 22, 8, 4), ('Freiburg', 90, 20, 4, 2), ('Swansea', 88, 24, 6, 2), ('QPR', 86, 20, 8, 0), ('Ingolstadt', 86, 16, 10, 0), ('Frankfurt FSV', 86, 14, 8, 2), ('Wigan', 84, 22, 6, 2), ('Duisburg', 84, 20, 8, 2), ('Hannover', 82, 24, 6, 2), ('Bochum', 82, 20, 6, 2), ('Hoffenheim', 82, 20, 2, 0), ('Wolves', 80, 10, 4, 0), ('FC Koln', 78, 16, 8, 2), ('Nurnberg', 76, 24, 2, 2), ('Hertha', 76, 14, 2, 0), ('Braunschweig', 74, 20, 4, 0), ('Aston Villa', 74, 14, 8, 0), ('Stoke', 72, 22, 6, 2), ('Augsburg', 72, 16, 4, 0), ('Hamburg', 70, 16, 4, 0), ('Karlsruhe', 68, 18, 6, 0), ('Hansa Rostock', 68, 10, 8, 0), ('Erzgebirge Aue', 62, 16, 6, 0), ('Cottbus', 60, 16, 4, 2), ('Aachen', 60, 12, 8, 0), ('Kaiserslautern', 48, 8, 10, 0)]

In [ ]:
#/ (h_rain_win + h_rain_draw + h_rain_loss + a_rain_win + a_rain_draw + a_rain_loss)